html,
body {
  padding: 0;
  margin: 0;
  font: 400 14px/1 'PT Sans', sans-serif;
}

a{
    text-decoration: none;
}

h2{
    font-size: 25px;
    font-weight: 600;
    margin: 20px;
}

header {
    padding: 40px 0;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    margin-bottom: 40px;
    background-color:#f8963b;
    font-size: 14px;
  }
  .container {
    max-width: 1114px;
    padding: 0px 60px;
    text-align: center;
  
  }

  .logo{
      margin-right:100px;
  }
  .d-flex {
    display: flex;
  }
  
  .align-items-center {
    align-items: center;
  }
  .justify-content-center{
      justify-content: center;
  }
  
  .main-header-nav {
    color: #fff;
    font-weight: bold;
    line-height: 24px;
    margin-left: 70px;
  }
  
  .info-header-nav {
    font-weight: normal;
    color: #fff;
    margin-left: auto;
  }
  
  .main-header-nav a+a,
  .info-header-nav a+a {
      margin-left: 240px;
  }


  .wrapper {
    position: relative;
    overflow-x: hidden;
  }

  .menu {
    position: fixed;
    padding: 10px 10px;
    left: 0;
    top: 0;
    z-index: 99;
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    background-color:#f8963b;
    margin-top: 105px;
    transform: translateX(-100%);
  }

  .menu_active {
    transform: translateX(0%);
  }

  .menu-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50%;
    flex-direction: column;

  }
.main-header-nav a{
    color: #fff;
}
  .menu-list a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    color: #fff;
  }
  
  .menu-btn {
    width: 20px;
    height: 20px;
    background-color: #f8963b;
    position: absolute;
    right: -40px;
    top: -35px;
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    border-color: #fff;
  }


  .about-firm {
    background-color: #f5a75f;
    padding-top: 45px;
    height: 70vh;
    padding: 5px;
  }

  .about-firm-text{
    position:absolute;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: #f5a75f;
    max-width: 500px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    font-weight:400;
    font-size: 20px;
    margin-left: 13%;
    margin-top: 120px;
    text-align: justify;
  }

  .picture-main{
    position: absolute;
    width: 450px;
    margin-left: 950px;
    margin-top: 150px;
   
  }

  .map{
    position: absolute;
    margin-left: 750px;
    margin-top: 120px;
}
  

  .table-main{
    margin-top: 200px;
    margin-left: 15%;;
  }
  .card{
    max-width: 50px;
    display: flexbox;
    padding: 10px;
  
  }
  .card-img{
    display: block;
    margin: auto;
    padding-bottom: 5px;
  }

  dl {
    line-height: 24px;
    margin-bottom: 0;
    margin-top: 0;
  }
  
  dt {
    font-weight: bold;
  }
  
  .dt-dotted {
    overflow-x: hidden;
    position: relative;
    width: 100px;
  }
  
  .dt-dotted > span {
    position: relative;
  }
      
  .dt-dotted > span:after {
    color: #000;
    content: '...........................................';
    left: 100%;
    position: absolute;
    top: 0;
  }
  
  dd {
    margin-left: 0;
    position: relative;
  }
  
  .dl-inline > dt {
    clear: left;
    float: left;
    margin-right: 3px;
  }
    
  .dl-inline > dd {
    display: inline-block;
    margin-left: 0;
  }